@use "sass:map";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$theme-colors: (
  "primary": #4Db33D
);

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

tr.selected {
  background-color: map.get($theme-colors, "primary")
}
